# Email sending
mailjet-rest

# Environment variables
python-dotenv
requests
dotenv
pandas
selenium 
requests
dotenv
webdriver-manager


# Additional Airflow providers if needed
# apache-airflow-providers-http==4.5.1
# apache-airflow-providers-postgres==5.6.1

#  main.py will give me the csv file for the availability count in csv folder -> it requires tr db
#  api_call/login_Wyndham.py
#  api_call/extraction.py
#  api_call/generate_tid.py
#  api_call/fetch_data.py -> this will get the details from the api
# 

# newly added
# to send the mail 
# main.py -> it give search status count
# get_blackout.py -> it will give the blackout dates for all reesorts
# main_filter.py -> it will create mapping between two
# mail.py -> to send the mail