# Email sending
mailjet-rest

# Environment variables
python-dotenv
requests
dotenv
pandas



# Additional Airflow providers if needed
# apache-airflow-providers-http==4.5.1
# apache-airflow-providers-postgres==5.6.1
